In [1]:
import pandas as pd
import streamlit as st
#!pip3 install plotly
import plotly.express as px

In [2]:
daily_report = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/03-21-2020.csv')
time_series_confirmed = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
time_series_recovered = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')
time_series_deaths = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')

In [3]:
SELECTED_COUNTRY= 'China'
print("Confirmed cases in {} : {}".format(SELECTED_COUNTRY, time_series_confirmed[time_series_confirmed['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))
print("Recovered cases in {} : {}".format(SELECTED_COUNTRY, time_series_recovered[time_series_recovered['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))
print("Deaths cases in {} : {}".format(SELECTED_COUNTRY, time_series_deaths[time_series_deaths['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))

# Is province data present
is_province = 'Yes' if len(daily_report[daily_report['Country/Region'] == SELECTED_COUNTRY])> 1 else 'No'
is_province

Confirmed cases in China : 81305
Recovered cases in China : 71857
Deaths cases in China : 3259

'Yes'

In [4]:
ret = daily_report[daily_report['Country/Region'] == 'China'].sum()
ret['Deaths'],ret['Confirmed'],ret['Recovered']

(3259, 81305, 71857)

In [5]:
print("Confirmed cases in {} : {}".format(SELECTED_COUNTRY, time_series_confirmed[time_series_confirmed['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))
print("Recovered cases in {} : {}".format(SELECTED_COUNTRY, time_series_recovered[time_series_recovered['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))
print("Deaths cases in {} : {}".format(SELECTED_COUNTRY, time_series_deaths[time_series_deaths['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()))

Confirmed cases in China : 81305
Recovered cases in China : 71857
Deaths cases in China : 3259

In [17]:
y = time_series_confirmed[time_series_confirmed['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()

In [15]:
x = time_series_deaths[time_series_deaths['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()

In [19]:
(x/y)*100

4.008363569276182

In [28]:
daily_report[daily_report['Country/Region'] == 'China']['Last Update']

0      2020-03-21T10:13:08
16     2020-03-21T12:43:08
21     2020-03-14T09:53:08
22     2020-03-21T03:43:03
25     2020-03-14T08:33:03
28     2020-03-11T02:18:14
29     2020-03-12T02:13:04
33     2020-03-21T00:43:02
40     2020-03-15T01:53:02
43     2020-03-15T03:53:04
44     2020-03-21T01:13:11
52     2020-03-21T05:13:04
53     2020-03-20T02:13:46
65     2020-03-21T04:43:06
70     2020-03-13T11:09:03
76     2020-03-21T01:13:10
79     2020-03-21T09:13:14
80     2020-03-20T00:43:02
82     2020-03-21T01:43:03
98     2020-03-16T23:53:02
102    2020-03-16T14:38:45
110    2020-03-18T01:53:03
115    2020-03-19T23:43:03
117    2020-03-21T03:13:13
118    2020-03-13T11:09:03
121    2020-03-20T01:43:03
133    2020-03-16T00:22:10
148    2020-03-11T02:18:14
149    2020-03-19T01:03:02
150    2020-03-16T14:38:45
202    2020-03-21T22:13:24
203    2020-03-11T02:18:14
273    2020-03-11T02:18:14
Name: Last Update, dtype: object

In [36]:

select_countires_confirmed = time_series_confirmed[time_series_confirmed['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()
select_countires_recovered = time_series_recovered[time_series_recovered['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()
select_countires_deaths = time_series_deaths[time_series_deaths['Country/Region'] == SELECTED_COUNTRY]['3/21/20'].sum()
# mortality rate
select_countires_mortality_rate = (select_countires_deaths / select_countires_confirmed)*100
# recovery rate
select_countires_recovery_rate = (select_countires_recovered / select_countires_confirmed)*100
select_countires_mortality_rate, select_countires_recovery_rate

(4.008363569276182, 88.37955845273969)

In [92]:
# Time Series of Coronna data for the selected country
dates = list(time_series_confirmed.columns)[4:]
series_select_countires_confirmed = []
series_select_countires_recovered = []
series_select_countires_deaths = []
for i in dates:
    series_select_countires_confirmed.append(time_series_confirmed[time_series_confirmed['Country/Region'] == SELECTED_COUNTRY][i].sum())
    series_select_countires_recovered.append(time_series_recovered[time_series_recovered['Country/Region'] == SELECTED_COUNTRY][i].sum())
    series_select_countires_deaths.append(time_series_deaths[time_series_deaths['Country/Region'] == SELECTED_COUNTRY][i].sum())
    series_mortality_rate = [(x/y)*100 for x, y in zip(series_select_countires_deaths, series_select_countires_confirmed)]
    series_recovery_rate = [(x/y)*100 for x, y in zip(series_select_countires_recovered, series_select_countires_confirmed)]
    
df_recovery = pd.DataFrame(columns = ['Dates','RecoveryRate','MoratalityRate'])
df_recovery['Dates'] = pd.Series(dates)
df_recovery['RecoveryRate'] = pd.Series(series_recovery_rate)
df_recovery['MoratalityRate'] = pd.Series(series_mortality_rate)

In [93]:
df_recovery

      Dates  RecoveryRate  MoratalityRate
0   1/22/20      5.109489        3.102190
1   1/23/20      4.665630        2.799378
2   1/24/20      3.913043        2.826087
3   1/25/20      2.773826        2.987198
4   1/26/20      2.361446        2.698795
5   1/27/20      2.015989        2.850191
6   1/28/20      1.833364        2.377927
7   1/29/20      1.971414        2.184984
8   1/30/20      1.658273        2.100479
9   1/31/20      2.183228        2.173026
10   2/1/20      2.312673        2.178118
11   2/2/20      2.784125        2.170776
12   2/3/20      3.114222        2.155610
13   2/4/20      3.555912        2.071118
14   2/5/20      4.063411        2.051749
15   2/6/20      4.828849        2.069507
16   2/7/20      5.860451        2.104955
17   2/8/20      7.051665        2.186668
18   2/9/20      8.082051        2.272214
19  2/10/20      9.250602        2.389385
20  2/11/20     10.444735        2.505294
21  2/12/20     11.354141        2.495587
22  2/13/20     10.379831        2.285667
23  2/14/20     12.021158        2.292112
24  2/15/20     13.590984        2.430825
25  2/16/20     15.252507        2.504503
26  2/17/20     17.204628        2.573377
27  2/18/20     19.142715        2.699061
28  2/19/20     21.391335        2.835739
29  2/20/20     23.994033        2.980940
30  2/21/20     24.757114        2.962277
31  2/22/20     29.478838        3.172686
32  2/23/20     30.104386        3.174418
33  2/24/20     32.385650        3.359615
34  2/25/20     35.594310        3.427476
35  2/26/20     38.487322        3.475936
36  2/27/20     41.895674        3.493639
37  2/28/20     46.028026        3.534867
38  2/29/20     49.548868        3.575029
39   3/1/20     52.747335        3.593054
40   3/2/20     55.972347        3.636318
41   3/3/20     59.119622        3.671771
42   3/4/20     62.201130        3.710845
43   3/5/20     64.929163        3.743621
44   3/6/20     66.853390        3.772463
45   3/7/20     68.761917        3.803392
46   3/8/20     71.004541        3.835542
47   3/9/20     72.723225        3.862231
48  3/10/20     74.401325        3.880722
49  3/11/20     76.178001        3.906279
50  3/12/20     77.720803        3.919340
51  3/13/20     79.308172        3.928593
52  3/14/20     81.084752        3.943095
53  3/15/20     82.733973        3.954175
54  3/16/20     83.805363        3.969988
55  3/17/20     84.875028        3.984801
56  3/18/20     86.008976        3.996202
57  3/19/20     86.912859        4.003401
58  3/20/20     87.712000        4.003692
59  3/21/20     88.379558        4.008364

In [116]:
COUNTRIES = list(set(daily_report['Country/Region']))
series_select_countires_confirmed = []
series_select_countires_recovered = []
series_select_countires_deaths = []
for i in COUNTRIES:
    series_select_countires_confirmed.append(time_series_confirmed[time_series_confirmed['Country/Region'] == i]['3/21/20'].sum())
    series_select_countires_recovered.append(time_series_recovered[time_series_recovered['Country/Region'] == i]['3/21/20'].sum())
    series_select_countires_deaths.append(time_series_deaths[time_series_deaths['Country/Region'] == i]['3/21/20'].sum())
series_mortality_rate = [(x/y)*100 for x, y in zip(series_select_countires_deaths, series_select_countires_confirmed)]
series_recovery_rate = [(x/y)*100 for x, y in zip(series_select_countires_recovered, series_select_countires_confirmed)]
df_country_stats = pd.DataFrame(columns = ['Countries','Confirmed','Deaths','Recovered','MortalityRate','RecoveryRate'])
df_country_stats['Countries'] = pd.Series(COUNTRIES)
df_country_stats['Confirmed'] = pd.Series(series_select_countires_confirmed)
df_country_stats['Deaths'] = pd.Series(series_select_countires_deaths)
df_country_stats['Recovered'] = pd.Series(series_select_countires_recovered)
df_country_stats['MortalityRate'] = pd.Series(series_mortality_rate)
df_country_stats['RecoveryRate'] = pd.Series(series_recovery_rate)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning:

invalid value encountered in long_scalars

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: RuntimeWarning:

invalid value encountered in long_scalars

In [117]:
df_country_stats

,Countries,Confirmed,Deaths,Recovered,MortalityRate,RecoveryRate
0,Paraguay,18,1,0,5.555556,0.000000
1,Latvia,124,0,1,0.000000,0.806452
2,Martinique,32,1,0,3.125000,0.000000
3,Kenya,7,0,0,0.000000,0.000000
4,"Gambia, The",1,0,0,0.000000,0.000000
5,Slovenia,383,1,0,0.261097,0.000000
6,Rwanda,17,0,0,0.000000,0.000000
7,Mayotte,0,0,0,NaN,NaN
8,Uzbekistan,43,0,0,0.000000,0.000000
9,US,25489,307,0,1.204441,0.000000
10,Saint Lucia,2,0,0,0.000000,0.000000
11,Bahrain,305,1,125,0.327869,40.983607
12,Cruise Ship,712,8,325,1.123596,45.646067
13,French Guiana,0,0,0,NaN,NaN
14,Monaco,11,0,0,0.000000,0.000000
15,France,14431,562,12,3.894394,0.083154
16,Tunisia,60,1,0,1.666667,0.000000
17,Togo,16,0,1,0.000000,6.250000
18,Angola,2,0,0,0.000000,0.000000
19,Thailand,411,1,42,0.243309,10.218978
20,Russia,306,1,12,0.326797,3.921569
21,Brunei,83,0,2,0.000000,2.409639
22,Czechia,995,0,6,0.000000,0.603015
23,New Zealand,52,0,0,0.000000,0.000000
24,Azerbaijan,53,1,11,1.886792,20.754717
25,Greece,530,13,19,2.452830,3.584906
26,Slovakia,178,1,0,0.561798,0.000000
27,Switzerland,6575,75,15,1.140684,0.228137
28,Hungary,103,4,7,3.883495,6.796117
29,Israel,883,1,36,0.113250,4.077010
...,...,...,...,...,...,...
148,Iran,20610,1556,7635,7.549733,37.045124
149,"Korea, South",8799,102,1540,1.159223,17.501989
150,Qatar,481,0,27,0.000000,5.613306
151,United Arab Emirates,153,2,38,1.307190,24.836601
152,Costa Rica,117,2,2,1.709402,1.709402
153,Madagascar,3,0,0,0.000000,0.000000
154,Mongolia,10,0,0,0.000000,0.000000
155,Brazil,1021,15,2,1.469148,0.195886
156,Guernsey,0,0,0,NaN,NaN
157,Estonia,306,0,1,0.000000,0.326797
158,Argentina,158,4,3,2.531646,1.898734
159,Liechtenstein,37,0,0,0.000000,0.000000
160,Germany,22213,84,233,0.378157,1.048935
161,Central African Republic,3,0,0,0.000000,0.000000
162,Indonesia,450,38,15,8.444444,3.333333
163,Moldova,80,1,1,1.250000,1.250000
164,Zambia,2,0,0,0.000000,0.000000
165,Andorra,88,0,1,0.000000,1.136364
166,Fiji,1,0,0,0.000000,0.000000
167,Nepal,1,0,1,0.000000,100.000000
168,Kosovo,2,0,0,0.000000,0.000000
169,Papua New Guinea,1,0,0,0.000000,0.000000
170,Honduras,24,0,0,0.000000,0.000000
171,Dominican Republic,112,2,0,1.785714,0.000000
172,Trinidad and Tobago,49,0,1,0.000000,2.040816
173,Namibia,3,0,0,0.000000,0.000000
174,China,81305,3259,71857,4.008364,88.379558
175,The Bahamas,0,0,0,NaN,NaN
176,Singapore,432,2,140,0.462963,32.407407
177,Somalia,1,0,0,0.000000,0.000000

In [114]:
df_country_stats[df_country_stats['Confirmed'] == 81305c

    Countries  Confirmed  Deaths  Recovered  MortalityRate  RecoveryRate
174     China      81305    3259      71857       4.008364     88.379558

In [115]:
len(series_select_countires_recovered)

178

In [121]:
totalConfirmed = df_country_stats['Confirmed'].sum()
totalDeaths = df_country_stats['Deaths'].sum()
totalRecovered = df_country_stats['Recovered'].sum()

In [122]:
totalRecovered

91499

In [129]:
print('Top 20 countries with highest cases confirmed')
top_20 = df_country_stats.sort_values(by=['Confirmed'], ascending=False)[:20]

In [134]:
print('Top 10 countires with highest mortality rate from 20 top country confirmed')
top_20.sort_values(by=['Deaths'], ascending=False)[:10]

Top 10 countires with highest mortality rate from 20 top country confirmed

          Countries  Confirmed  Deaths  Recovered  MortalityRate  RecoveryRate
35            Italy      53578    4825       6072       9.005562     11.333010
174           China      81305    3259      71857       4.008364     88.379558
148            Iran      20610    1556       7635       7.549733     37.045124
55            Spain      25374    1375       2125       5.418933      8.374714
15           France      14431     562         12       3.894394      0.083154
9                US      25489     307          0       1.204441      0.000000
139  United Kingdom       5067     234         67       4.618117      1.322281
91      Netherlands       3640     137          2       3.763736      0.054945
149    Korea, South       8799     102       1540       1.159223     17.501989
160         Germany      22213      84        233       0.378157      1.048935

In [135]:
daily_report['Country/Region']
daily_report['Latitude']
daily_report['Longitude']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-21T10:13:08,67800,3139,58946,30.9756,112.2707
1,NaN,Italy,2020-03-21T17:43:03,53578,4825,6072,41.8719,12.5674
2,NaN,Spain,2020-03-21T13:13:30,25374,1375,2125,40.4637,-3.7492
3,NaN,Germany,2020-03-21T20:43:02,22213,84,233,51.1657,10.4515
4,NaN,Iran,2020-03-21T11:13:12,20610,1556,7635,32.4279,53.6880
5,France,France,2020-03-21T20:43:02,14282,562,12,46.2276,2.2137
6,New York,US,2020-03-21T22:43:04,11710,60,0,42.1657,-74.9481
7,NaN,"Korea, South",2020-03-21T11:13:12,8799,102,1540,35.9078,127.7669
8,NaN,Switzerland,2020-03-21T20:43:02,6575,75,15,46.8182,8.2275
9,United Kingdom,United Kingdom,2020-03-21T20:43:03,5018,233,65,55.3781,-3.4360
10,Netherlands,Netherlands,2020-03-21T14:43:04,3631,136,2,52.1326,5.2913
11,NaN,Belgium,2020-03-21T11:13:12,2815,67,263,50.5039,4.4699
12,NaN,Austria,2020-03-21T14:43:03,2814,8,9,47.5162,14.5501
13,NaN,Norway,2020-03-21T17:13:07,2118,7,1,60.4720,8.4689
14,Washington,US,2020-03-21T22:43:04,1793,94,0,47.4009,-121.4905
15,NaN,Sweden,2020-03-21T14:43:03,1763,20,16,60.1282,18.6435
16,Guangdong,China,2020-03-21T12:43:08,1400,8,1325,23.3417,113.4244
17,California,US,2020-03-21T22:43:04,1364,24,0,36.1162,-119.6816
18,New Jersey,US,2020-03-21T19:43:03,1327,16,0,40.2989,-74.5210
19,Denmark,Denmark,2020-03-21T12:43:08,1326,13,1,56.2639,9.5018
20,NaN,Portugal,2020-03-21T13:13:30,1280,12,5,39.3999,-8.2245
21,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140
22,Zhejiang,China,2020-03-21T03:43:03,1236,1,1219,29.1832,120.0934
23,NaN,Malaysia,2020-03-21T11:43:06,1183,4,114,4.2105,101.9758
24,NaN,Brazil,2020-03-21T17:43:03,1021,15,2,-14.2350,-51.9253
25,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088
26,NaN,Japan,2020-03-21T20:43:02,1007,35,232,36.2048,138.2529
27,NaN,Czechia,2020-03-21T20:43:02,995,0,6,49.8175,15.4730
28,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
29,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221
...,...,...,...,...,...,...,...,...
274,NaN,Djibouti,2020-03-19T14:53:06,1,0,0,11.8251,42.5903
275,NaN,East Timor,2020-03-21T14:43:04,1,0,0,-8.5500,125.5600
276,NaN,Eritrea,2020-03-21T21:13:30,1,0,0,15.1794,39.7823
277,NaN,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659
278,NaN,Fiji,2020-03-19T14:53:06,1,0,0,-17.7134,178.0650
279,NaN,"Gambia, The",2020-03-18T14:13:56,1,0,0,13.4432,-15.3101
280,NaN,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534
281,NaN,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240
282,Sint Maarten,Netherlands,2020-03-20T21:13:30,1,0,0,18.0425,-63.0548
283,NaN,Niger,2020-03-20T02:13:52,1,0,0,17.6078,8.0817
284,NaN,Papua New Guinea,2020-03-21T23:43:02,1,0,0,-6.3150,143.9555
285,NaN,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872
286,NaN,Somalia,2020-03-18T00:53:03,1,0,0,5.1521,46.1996
287,US,US,2020-03-21T19:43:03,1,0,171,37.0902,-95.7129
288,NaN,Uganda,2020-03-21T23:43:02,1,0,0,1.0000,32.0000
289,Isle of Man,United Kingdom,2020-03-20T15:13:21,1,0,0,54.2361,-4.5481
290,Montserrat,United Kingdom,2020-03-18T11:53:04,1,0,0,16.7425,-62.1874
291,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
292,French Guiana,France,2020-03-18T14:33:15,0,0,0,4.0000,-53.0000
293,Guadeloupe,France,2020-03-18T14:33:15,0,0,0,16.2500,-61.5833
294,Mayotte,France,2020-03-18T14:33:15,0,0,0,-12.8431,45.1383
295,Reunion,France,2020-03-18T14:33:15,0,0,0,-21.1351,55.2471
296,NaN,Greenland,2020-03-19T09:33:04,0,0,0,72.0000,-40.0000
297,NaN,Guam,2020-03-18T19:14:33,0,0,0,13.4443,144.7937
298,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
299,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
300,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
301,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
302,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000
303,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [136]:
pop = pd.read_csv('data/demographics.csv')

In [146]:
pop[pop['Country/Region'] == 'India']['Population']
SELECTEDD_COUNTRY='China'

In [142]:
print("Top 10 highly popluted countries?")
top_10_pop_df = pop.sort_values(by=['Population'], ascending=False)[:10]

Top 10 highly popluted countries?

In [158]:
if SELECTEDD_COUNTRY in list(top_10_pop_df['Country/Region']):
    pop_flag = True
    population_string = '{} seems to be in the top 10 highly populated countries.' 
    print("Shit")
if SELECTEDD_COUNTRY in list(top_10_mortal['Country/Region']):
    pop_flag = True
    population_string = '{} seems to be in the top 10 highly populated countries.' 
    print("Shit")
    
if SELECTEDD_COUNTRY in list(top_20_df['Country/Region']):
    top_cases_flag = True
    if pop_flag and top_cases_flag:
        cases_string = "Social Distancing and vigilant attention to safety is a must for your country. With the population it could easily spread."
    else:
        cases_string  "Although its not highly populated, the number of cases reported are high. Please be safe!"
        
    print("Shit")

SyntaxError: invalid syntax (<ipython-input-158-38d7acba2da3>, line 10)

In [154]:
SELECTEDD_COUNTRY in list(top_10_pop_df['Country/Region'])

True

In [152]:
list(top_10_pop_df['Country/Region'])

['China',
 'India',
 'US',
 'Indonesia',
 'Brazil',
 'Pakistan',
 'Nigeria',
 'Bangladesh',
 'Russia',
 'Mexico']